In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StringType
from pyspark.sql.functions import col, regexp_extract,sum

In [7]:
spark = SparkSession.builder.appName("DataEngineeringProject").getOrCreate()

In [8]:
df_a = spark.read.csv("P:/softwares and programs/Data engineering projects/Project 1/Dataset/athletes.csv", header=True)
df_c = spark.read.csv("P:/softwares and programs/Data engineering projects/Project 1/Dataset/coaches.csv", header=True)
df_m = spark.read.csv("P:/softwares and programs/Data engineering projects/Project 1/Dataset/medals.csv", header=True)
df_mt = spark.read.csv("P:/softwares and programs/Data engineering projects/Project 1/Dataset/medals_total.csv", header=True)
df_t = spark.read.csv("P:/softwares and programs/Data engineering projects/Project 1/Dataset/technical_officials.csv", header=True)

In [9]:
total_nulls = df_a.agg(*[sum(col(c).isNull().cast("int")).alias(c + "_total_nulls") for c in df_a.columns])
total_nulls.show()

+----------------+----------------------+------------------+----------------------+-----------------------+-------------------------+-------------------+------------------------+----------------------+---------------------------+---------------------------+-----------------------------+-----------------------+---------------+
|name_total_nulls|short_name_total_nulls|gender_total_nulls|birth_date_total_nulls|birth_place_total_nulls|birth_country_total_nulls|country_total_nulls|country_code_total_nulls|discipline_total_nulls|discipline_code_total_nulls|residence_place_total_nulls|residence_country_total_nulls|height_m/ft_total_nulls|url_total_nulls|
+----------------+----------------------+------------------+----------------------+-----------------------+-------------------------+-------------------+------------------------+----------------------+---------------------------+---------------------------+-----------------------------+-----------------------+---------------+
|               0|                     0|               159|                   159|                   4048|                     3336|                  0|                       0|                   159|                          0|                       4407|                         5111|                   7001|              0|
+----------------+----------------------+------------------+----------------------+-----------------------+-------------------------+-------------------+------------------------+----------------------+---------------------------+---------------------------+-----------------------------+-----------------------+---------------+

In [10]:
df1_a = df_a.dropna(subset=['gender', 'birth_date', 'discipline'])
df1_a = df1_a.drop('birth_place', 'birth_country', 'residence_place', 'residence_country', 'height_m/ft')

In [11]:
df1_a = df1_a.withColumn("athlete_id", regexp_extract(col("url"), r'n(\d+)-', 1))
df1_a = df1_a.drop('url')

In [12]:
df1_a.show()

+--------------------+-------------+------+----------+--------------------+------------+-------------------+---------------+----------+
|                name|   short_name|gender|birth_date|             country|country_code|         discipline|discipline_code|athlete_id|
+--------------------+-------------+------+----------+--------------------+------------+-------------------+---------------+----------+
|     AALERUD Katrine|    AALERUD K|Female|1994-12-04|              Norway|         NOR|       Cycling Road|            CRD|   1346266|
|         ABAD Nestor|       ABAD N|  Male|1993-03-29|               Spain|         ESP|Artistic Gymnastics|            GAR|   1355250|
|   ABAGNALE Giovanni|   ABAGNALE G|  Male|1995-01-11|               Italy|         ITA|             Rowing|            ROW|   1321381|
|      ABALDE Alberto|     ABALDE A|  Male|1995-12-15|               Spain|         ESP|         Basketball|            BKB|   1322233|
|       ABALDE Tamara|     ABALDE T|Female|1989-02-06|               Spain|         ESP|         Basketball|            BKB|   1322271|
|           ABALO Luc|      ABALO L|  Male|1984-09-06|              France|         FRA|           Handball|            HBL|   1350409|
|        ABAROA Cesar|     ABAROA C|  Male|1996-11-18|               Chile|         CHI|             Rowing|            ROW|   1309960|
|       ABASS Abobakr|      ABASS A|  Male|1998-11-01|               Sudan|         SUD|           Swimming|            SWM|   1344792|
|  ABBAGNALE Vincenzo|  ABBAGNALE V|  Male|1993-03-13|               Italy|         ITA|             Rowing|            ROW|   1331787|
|    ABBASALI Hamideh|   ABBASALI H|Female|1990-03-14|Islamic Republic ...|         IRI|             Karate|            KTE|   1284763|
|       ABBASOV Islam|    ABBASOV I|  Male|1996-03-24|          Azerbaijan|         AZE|          Wrestling|            WRE|   1433032|
|        ABBINGH Lois|    ABBINGH L|Female|1992-08-13|         Netherlands|         NED|           Handball|            HBL|   1456949|
|         ABBOT Emily|      ABBOT E|Female|1997-02-28|           Australia|         AUS|Rhythmic Gymnastics|            GRY|   1349883|
|       ABBOTT Monica|     ABBOTT M|Female|1985-07-28|United States of ...|         USA|  Baseball/Softball|            BSB|   1310126|
|ABDALLA Abubaker ...|   ABDALLA AH|  Male|1996-08-28|               Qatar|         QAT|          Athletics|            ATH|   1328854|
| ABDALRASOOL Mohamed|ABDALRASOOL M|  Male|1993-07-24|               Sudan|         SUD|               Judo|            JUD|   1898618|
|   ABDEL LATIF Radwa|ABDEL LATIF R|Female|1989-10-15|               Egypt|         EGY|           Shooting|            SHO|   1306332|
|    ABDEL RAZEK Samy|ABDEL RAZEK S|  Male|1980-04-10|               Egypt|         EGY|           Shooting|            SHO|   1306339|
|    ABDELAAL Mohamed|   ABDELAAL M|  Male|1990-07-23|               Egypt|         EGY|               Judo|            JUD|   1301765|
|   ABDELAZIZ Abdalla|  ABDELAZIZ A|  Male|1999-03-29|               Egypt|         EGY|             Karate|            KTE|   1306315|
+--------------------+-------------+------+----------+--------------------+------------+-------------------+---------------+----------+
only showing top 20 rows

In [13]:
df1_a = df1_a.dropDuplicates(['name'])
df1_a.select([col(c).alias(c + "_null") for c in df1_a.columns]).show()
df1_a.groupBy("athlete_id").count().filter("count > 1").show()

+--------------------+---------------+-----------+---------------+--------------------+-----------------+-------------------+--------------------+---------------+
|           name_null|short_name_null|gender_null|birth_date_null|        country_null|country_code_null|    discipline_null|discipline_code_null|athlete_id_null|
+--------------------+---------------+-----------+---------------+--------------------+-----------------+-------------------+--------------------+---------------+
|     AALERUD Katrine|      AALERUD K|     Female|     1994-12-04|              Norway|              NOR|       Cycling Road|                 CRD|        1346266|
|         ABAD Nestor|         ABAD N|       Male|     1993-03-29|               Spain|              ESP|Artistic Gymnastics|                 GAR|        1355250|
|   ABAGNALE Giovanni|     ABAGNALE G|       Male|     1995-01-11|               Italy|              ITA|             Rowing|                 ROW|        1321381|
|      ABALDE Alberto|       ABALDE A|       Male|     1995-12-15|               Spain|              ESP|         Basketball|                 BKB|        1322233|
|       ABALDE Tamara|       ABALDE T|     Female|     1989-02-06|               Spain|              ESP|         Basketball|                 BKB|        1322271|
|           ABALO Luc|        ABALO L|       Male|     1984-09-06|              France|              FRA|           Handball|                 HBL|        1350409|
|        ABAROA Cesar|       ABAROA C|       Male|     1996-11-18|               Chile|              CHI|             Rowing|                 ROW|        1309960|
|       ABASS Abobakr|        ABASS A|       Male|     1998-11-01|               Sudan|              SUD|           Swimming|                 SWM|        1344792|
|  ABBAGNALE Vincenzo|    ABBAGNALE V|       Male|     1993-03-13|               Italy|              ITA|             Rowing|                 ROW|        1331787|
|    ABBASALI Hamideh|     ABBASALI H|     Female|     1990-03-14|Islamic Republic ...|              IRI|             Karate|                 KTE|        1284763|
|       ABBASOV Islam|      ABBASOV I|       Male|     1996-03-24|          Azerbaijan|              AZE|          Wrestling|                 WRE|        1433032|
|        ABBINGH Lois|      ABBINGH L|     Female|     1992-08-13|         Netherlands|              NED|           Handball|                 HBL|        1456949|
|         ABBOT Emily|        ABBOT E|     Female|     1997-02-28|           Australia|              AUS|Rhythmic Gymnastics|                 GRY|        1349883|
|       ABBOTT Monica|       ABBOTT M|     Female|     1985-07-28|United States of ...|              USA|  Baseball/Softball|                 BSB|        1310126|
|ABDALLA Abubaker ...|     ABDALLA AH|       Male|     1996-08-28|               Qatar|              QAT|          Athletics|                 ATH|        1328854|
| ABDALRASOOL Mohamed|  ABDALRASOOL M|       Male|     1993-07-24|               Sudan|              SUD|               Judo|                 JUD|        1898618|
|   ABDEL LATIF Radwa|  ABDEL LATIF R|     Female|     1989-10-15|               Egypt|              EGY|           Shooting|                 SHO|        1306332|
|    ABDEL RAZEK Samy|  ABDEL RAZEK S|       Male|     1980-04-10|               Egypt|              EGY|           Shooting|                 SHO|        1306339|
|    ABDELAAL Mohamed|     ABDELAAL M|       Male|     1990-07-23|               Egypt|              EGY|               Judo|                 JUD|        1301765|
|   ABDELAZIZ Abdalla|    ABDELAZIZ A|       Male|     1999-03-29|               Egypt|              EGY|             Karate|                 KTE|        1306315|
+--------------------+---------------+-----------+---------------+--------------------+-----------------+-------------------+--------------------+---------------+
only showing top 20 rows

+----------+-----+
|athlete_id|count|
+----------+-----+
+----------+-----+

In [15]:
df1_a.count()

11470

In [13]:
total_nulls = df_c.agg(*[sum(col(c).isNull().cast("int")).alias(c + "_total_nulls") for c in df_c.columns])
total_nulls.show()

+----------------+----------------------+------------------+----------------------+------------------------+----------------------+--------------------+-----------------+---------------+
|name_total_nulls|short_name_total_nulls|gender_total_nulls|birth_date_total_nulls|country_code_total_nulls|discipline_total_nulls|function_total_nulls|event_total_nulls|url_total_nulls|
+----------------+----------------------+------------------+----------------------+------------------------+----------------------+--------------------+-----------------+---------------+
|               0|                     0|                 0|                     0|                       0|                     0|                   0|              126|              0|
+----------------+----------------------+------------------+----------------------+------------------------+----------------------+--------------------+-----------------+---------------+

In [14]:
df1_c = df_c.drop('event')
df1_c = df1_c.withColumn("coach_id", regexp_extract(col("url"), r'n(\d+)-', 1))
df1_c = df1_c.drop('url')
df1_c = df1_c.dropDuplicates(['coach_id'])

In [15]:
df1_c.groupBy("coach_id").count().filter("count > 1").show()

+--------+-----+
|coach_id|count|
+--------+-----+
+--------+-----+

In [16]:
df1_c.show()

+--------------------+------------------+------+----------+------------+-----------------+----------+--------+
|                name|        short_name|gender|birth_date|country_code|       discipline|  function|coach_id|
+--------------------+------------------+------+----------+------------+-----------------+----------+--------+
|    SHAHINTAB Mehran|       SHAHINTAB M|  Male|1966-03-21|         IRI|       Basketball|     Coach| 1281792|
|         DANCER Sean|          DANCER S|  Male|1975-08-04|         IRL|           Hockey|Head Coach| 1282059|
|       GRAINGER Adam|        GRAINGER A|  Male|1980-07-06|         IRL|           Hockey|     Coach| 1282063|
|     LORRAINE Andrew|        LORRAINE A|  Male|1972-08-11|         ISR|Baseball/Softball|     Coach| 1282219|
|        MULBERG Nate|         MULBERG N|  Male|1992-01-05|         ISR|Baseball/Softball|     Coach| 1282237|
|         FULI Saiasi|            FULI S|  Male|1978-03-16|         FIJ|     Rugby Sevens|Head Coach| 1282562|
|  BABER Gareth Colin|           BABER G|  Male|1972-05-23|         FIJ|     Rugby Sevens|Head Coach| 1282565|
|         POWELL Neil|          POWELL N|  Male|1978-06-28|         RSA|     Rugby Sevens|Head Coach| 1284765|
|  ZAMPIERI Francesca|        ZAMPIERI F|Female|1981-12-22|         LIE|Artistic Swimming|     Coach| 1288449|
| SVETLICHNAYA Aliona|    SVETLICHNAYA A|Female|1981-12-18|         BLR|Artistic Swimming|     Coach| 1289288|
|BATISTA SANTIAGO ...|BATISTA SANTIAGO G|  Male|1970-12-21|         PUR|       Basketball|     Coach| 1292801|
|        KWIEK Marcos|           KWIEK M|  Male|1967-07-18|         DOM|       Volleyball|Head Coach| 1295679|
|BLECHER SIDOROVA ...|BLECHER SIDOROVA S|Female|1965-06-17|         ISR|Artistic Swimming|     Coach| 1296532|
|PAGAN CRISTOBAL A...| PAGAN CRISTOBAL A|  Male|1964-10-31|         PUR|       Basketball|     Coach| 1298218|
|        KIRALY Karch|          KIRALY K|  Male|1960-11-03|         USA|       Volleyball|Head Coach| 1298673|
|         SPERAW John|          SPERAW J|  Male|1971-10-18|         USA|       Volleyball|Head Coach| 1298684|
| FUERBRINGER Matthew|     FUERBRINGER M|  Male|1974-01-29|         USA|       Volleyball|Head Coach| 1298691|
|        WALL Michael|            WALL M|  Male|1978-10-29|         USA|       Volleyball|Head Coach| 1298692|
|  KRIST JANSSON Aron|   KRIST JANSSON A|  Male|1972-07-14|         BRN|         Handball|     Coach| 1301237|
|      LOFTUS Adriana|          LOFTUS A|Female|1958-06-28|         MEX|Artistic Swimming|     Coach| 1301560|
+--------------------+------------------+------+----------+------------+-----------------+----------+--------+
only showing top 20 rows

In [17]:
df_m = df_m.withColumn("athlete_id", regexp_extract(col("athlete_link"), r'n(\d+)-', 1))
df_m = df_m.drop('athlete_link')

In [18]:
df_m.show()

+------------+----------+--------------------+------------------+-------------------+-----------+------------+---------------+--------------------+--------------------+------------+----------+
|  medal_type|medal_code|          medal_date|athlete_short_name|       athlete_name|athlete_sex|country_code|discipline_code|               event|             country|  discipline|athlete_id|
+------------+----------+--------------------+------------------+-------------------+-----------+------------+---------------+--------------------+--------------------+------------+----------+
|  Gold Medal|         1|2021-07-24 00:00:...|            KIM JD|        KIM Je Deok|          X|         KOR|            ARC|          Mixed Team|   Republic of Korea|     Archery|   1440267|
|  Gold Medal|         1|2021-07-24 00:00:...|              AN S|             AN San|          X|         KOR|            ARC|          Mixed Team|   Republic of Korea|     Archery|   1338248|
|Silver Medal|         2|2021-07-24 00:00:...|      SCHLOESSER G|SCHLOESSER Gabriela|          X|         NED|            ARC|          Mixed Team|         Netherlands|     Archery|   1458456|
|Silver Medal|         2|2021-07-24 00:00:...|          WIJLER S|       WIJLER Steve|          X|         NED|            ARC|          Mixed Team|         Netherlands|     Archery|   1458465|
|Bronze Medal|         3|2021-07-24 00:00:...|         ALVAREZ L|       ALVAREZ Luis|          X|         MEX|            ARC|          Mixed Team|              Mexico|     Archery|   1294470|
|Bronze Medal|         3|2021-07-24 00:00:...|        VALENCIA A| VALENCIA Alejandra|          X|         MEX|            ARC|          Mixed Team|              Mexico|     Archery|   1294484|
|  Gold Medal|         1|2021-07-24 00:00:...|         CARAPAZ R|    CARAPAZ Richard|          M|         ECU|            CRD|     Men's Road Race|             Ecuador|Cycling Road|   1473746|
|Silver Medal|         2|2021-07-24 00:00:...|        van AERT W|      van AERT Wout|          M|         BEL|            CRD|     Men's Road Race|             Belgium|Cycling Road|   1393553|
|Bronze Medal|         3|2021-07-24 00:00:...|         POGACAR T|      POGACAR Tadej|          M|         SLO|            CRD|     Men's Road Race|            Slovenia|Cycling Road|   1429471|
|  Gold Medal|         1|2021-07-24 00:00:...|        SZILAGYI A|      SZILAGYI Aron|          M|         HUN|            FEN|Men's Sabre Indiv...|             Hungary|     Fencing|   1343521|
|Silver Medal|         2|2021-07-24 00:00:...|          SAMELE L|       SAMELE Luigi|          M|         ITA|            FEN|Men's Sabre Indiv...|               Italy|     Fencing|   1312472|
|Bronze Medal|         3|2021-07-24 00:00:...|             KIM J|       KIM Junghwan|          M|         KOR|            FEN|Men's Sabre Indiv...|   Republic of Korea|     Fencing|   1335688|
|  Gold Medal|         1|2021-07-24 00:00:...|             SUN Y|          SUN Yiwen|          W|         CHN|            FEN|Women's &Eacute;p...|People's Republic...|     Fencing|   1392791|
|Silver Medal|         2|2021-07-24 00:00:...|        POPESCU AM|  POPESCU Ana Maria|          W|         ROU|            FEN|Women's &Eacute;p...|             Romania|     Fencing|   1290683|
|Bronze Medal|         3|2021-07-24 00:00:...|           LEHIS K|      LEHIS Katrina|          W|         EST|            FEN|Women's &Eacute;p...|             Estonia|     Fencing|   1374081|
|  Gold Medal|         1|2021-07-24 00:00:...|          TAKATO N|     TAKATO Naohisa|          M|         JPN|            JUD|          Men -60 kg|               Japan|        Judo|   1315348|
|Silver Medal|         2|2021-07-24 00:00:...|           YANG YW|      YANG Yung Wei|          M|         TPE|            JUD|          Men -60 kg|      Chinese Taipei|        Judo|   1431837|
|Bronze Medal|         3|2021-07-24 00:00:...|        MKHEIDZE L|      MKHEIDZE Luka|          M|         FRA|            JUD|          Men -60 kg|              France|        Judo|   1403680|
|Bronze Medal|         3|2021-07-24 00:00:...|          SMETOV Y|      SMETOV Yeldos|          M|         KAZ|            JUD|          Men -60 kg|          Kazakhstan|        Judo|   1305206|
|  Gold Medal|         1|2021-07-24 00:00:...|        KRASNIQI D|   KRASNIQI Distria|          W|         KOS|            JUD|        Women -48 kg|              Kosovo|        Judo|   1330020|
+------------+----------+--------------------+------------------+-------------------+-----------+------------+---------------+--------------------+--------------------+------------+----------+
only showing top 20 rows

In [26]:
df1_m = df_m.join(df1_a.select("athlete_id"), "athlete_id", "inner")
df1_m = df1_m.join(df1_a.select("athlete_id", "gender"), "athlete_id", "inner")
df1_m = df1_m.drop('athlete_sex')
df1_m.show()

+----------+------------+----------+--------------------+------------------+--------------------+------------+---------------+--------------------+--------------------+-------------------+------+
|athlete_id|  medal_type|medal_code|          medal_date|athlete_short_name|        athlete_name|country_code|discipline_code|               event|             country|         discipline|gender|
+----------+------------+----------+--------------------+------------------+--------------------+------------+---------------+--------------------+--------------------+-------------------+------+
|   1350409|  Gold Medal|         1|2021-08-07 00:00:...|           ABALO L|           ABALO Luc|         FRA|            HBL|                 Men|              France|           Handball|  Male|
|   1310126|Silver Medal|         2|2021-07-27 00:00:...|          ABBOTT M|       ABBOTT Monica|         USA|            BSB|            Softball|United States of ...|  Baseball/Softball|Female|
|   1306348|  Gold Medal|         1|2021-08-07 00:00:...|       ABDELAZIZ F|    ABDELAZIZ Feryal|         EGY|            KTE|Women's Kumite +61kg|               Egypt|             Karate|Female|
|   1401953|Bronze Medal|         3|2021-08-08 00:00:...|            ABDI B|         ABDI Bashir|         BEL|            ATH|      Men's Marathon|             Belgium|          Athletics|  Male|
|   1321507|Bronze Medal|         3|2021-07-28 00:00:...|       ABDULLAH RE|ABDULLAH Rahmat E...|         INA|            WLF|          Men's 73kg|           Indonesia|      Weightlifting|  Male|
|   1285952|Bronze Medal|         3|2021-08-06 00:00:...|   ABDURAKHMONOV B|ABDURAKHMONOV Bekzod|         UZB|            WRE|Men's Freestyle 74kg|          Uzbekistan|          Wrestling|  Male|
|   1315347|Silver Medal|         2|2021-07-31 00:00:...|             ABE H|          ABE Hifumi|         JPN|            JUD|          Mixed Team|               Japan|               Judo|  Male|
|   1315347|  Gold Medal|         1|2021-07-25 00:00:...|             ABE H|          ABE Hifumi|         JPN|            JUD|          Men -66 kg|               Japan|               Judo|  Male|
|   1315319|Silver Medal|         2|2021-07-31 00:00:...|             ABE U|             ABE Uta|         JPN|            JUD|          Mixed Team|               Japan|               Judo|Female|
|   1315319|  Gold Medal|         1|2021-07-25 00:00:...|             ABE U|             ABE Uta|         JPN|            JUD|        Women -52 kg|               Japan|               Judo|Female|
|   1469699|Silver Medal|         2|2021-07-25 00:00:...|            ABEL J|       ABEL Jennifer|         CAN|            DIV|Women's Synchroni...|              Canada|             Diving|Female|
|   1406250|Silver Medal|         2|2021-08-02 00:00:...|        ABLIAZIN D|      ABLIAZIN Denis|         ROC|            GAR|         Men's Vault|                 ROC|Artistic Gymnastics|  Male|
|   1406250|  Gold Medal|         1|2021-07-26 00:00:...|        ABLIAZIN D|      ABLIAZIN Denis|         ROC|            GAR|          Men's Team|                 ROC|Artistic Gymnastics|  Male|
|   1351464|  Gold Medal|         1|2021-08-07 00:00:...|             ABNER|               ABNER|         BRA|            FBL|                 Men|              Brazil|           Football|  Male|
|   1469883|Bronze Medal|         3|2021-08-01 00:00:...|           ADAMS V|       ADAMS Valerie|         NZL|            ATH|    Women's Shot Put|         New Zealand|          Athletics|Female|
|   1382524|Bronze Medal|         3|2021-08-02 00:00:...|            ADAR Y|        ADAR Yasemin|         TUR|            WRE|Women's Freestyle...|              Turkey|          Wrestling|Female|
|   1312780|  Gold Medal|         1|2021-08-07 00:00:...|         ADEBAYO B|         ADEBAYO Bam|         USA|            BKB|                 Men|United States of ...|         Basketball|  Male|
|   1476195|Silver Medal|         2|2021-08-07 00:00:...|           AGARD T|      AGARD Terrence|         NED|            ATH|Men's 4 x 400m Relay|         Netherlands|          Athletics|  Male|
|   1313716|  Gold Medal|         1|2021-07-27 00:00:...|        AGATSUMA H|     AGATSUMA Haruka|         JPN|            BSB|            Softball|               Japan|  Baseball/Softball|Female|
|   1403697|  Gold Medal|         1|2021-07-31 00:00:...|      AGBEGNENOU C| AGBEGNENOU Clarisse|         FRA|            JUD|          Mixed Team|              France|               Judo|Female|
+----------+------------+----------+--------------------+------------------+--------------------+------------+---------------+--------------------+--------------------+-------------------+------+
only showing top 20 rows

In [20]:
total_nulls = df1_m.agg(*[sum(col(c).isNull().cast("int")).alias(c + "_total_nulls") for c in df1_m.columns])
total_nulls.show()

+----------------------+----------------------+----------------------+----------------------+------------------------------+------------------------+-----------------------+------------------------+---------------------------+-----------------+-------------------+----------------------+------------------+
|athlete_id_total_nulls|medal_type_total_nulls|medal_code_total_nulls|medal_date_total_nulls|athlete_short_name_total_nulls|athlete_name_total_nulls|athlete_sex_total_nulls|country_code_total_nulls|discipline_code_total_nulls|event_total_nulls|country_total_nulls|discipline_total_nulls|gender_total_nulls|
+----------------------+----------------------+----------------------+----------------------+------------------------------+------------------------+-----------------------+------------------------+---------------------------+-----------------+-------------------+----------------------+------------------+
|                     0|                     0|                     0|                     0|                             0|                       0|                      0|                       0|                          0|                0|                  0|                     0|                 0|
+----------------------+----------------------+----------------------+----------------------+------------------------------+------------------------+-----------------------+------------------------+---------------------------+-----------------+-------------------+----------------------+------------------+

In [21]:
total_nulls = df_mt.agg(*[sum(col(c).isNull().cast("int")).alias(c + "_total_nulls") for c in df_mt.columns])
total_nulls.show()

+----------------+------------------------+----------------------+------------------------+------------------------+-----------------+-------------------+
|Rank_total_nulls|Country Code_total_nulls|Gold Medal_total_nulls|Silver Medal_total_nulls|Bronze Medal_total_nulls|Total_total_nulls|Country_total_nulls|
+----------------+------------------------+----------------------+------------------------+------------------------+-----------------+-------------------+
|               0|                       0|                     0|                       0|                       0|                0|                  0|
+----------------+------------------------+----------------------+------------------------+------------------------+-----------------+-------------------+

In [22]:
total_nulls = df_t.agg(*[sum(col(c).isNull().cast("int")).alias(c + "_total_nulls") for c in df_t.columns])
total_nulls.show()
df_t = df_t.withColumn("to_id", regexp_extract(col("url"), r'n(\d+)-', 1))

+----------------+----------------------+------------------+----------------------+-------------------+----------------------+--------------------+---------------+
|name_total_nulls|short_name_total_nulls|gender_total_nulls|birth_date_total_nulls|country_total_nulls|discipline_total_nulls|function_total_nulls|url_total_nulls|
+----------------+----------------------+------------------+----------------------+-------------------+----------------------+--------------------+---------------+
|               0|                     0|                 0|                     0|                  0|                     0|                   0|              0|
+----------------+----------------------+------------------+----------------------+-------------------+----------------------+--------------------+---------------+

In [23]:
df_t.groupBy('to_id').count().filter("count > 1").show()

+-------+-----+
|  to_id|count|
+-------+-----+
|1573200|    2|
|1573187|    2|
|1573178|    2|
|1573214|    2|
|1573198|    2|
|1572014|    2|
|1573215|    2|
|1572097|    2|
|1573189|    2|
|1573600|    2|
|1572090|    2|
|1573188|    2|
|1572092|    2|
|1573175|    2|
|1572013|    2|
|1571973|    2|
|1573181|    2|
|1572018|    2|
|1571988|    2|
|1573219|    2|
+-------+-----+
only showing top 20 rows

In [24]:
df1_a.toPandas().to_csv('Athletes_updated.csv',index=False)
df1_c.toPandas().to_csv('Coaches_updated.csv',index=False)
df1_m.toPandas().to_csv('Medals_updated.csv',index=False)
df_mt.toPandas().to_csv('Medals_total_updated.csv',index=False)
df_t.toPandas().to_csv('Technical_officials_updated.csv',index=False)

In [181]:
spark.stop()