# AWS Glue Studio Notebook
##### You are now running a AWS Glue Studio notebook; To start using your notebook you need to start an AWS Glue Interactive Session.

#### Optional: Run this cell to see available notebook commands ("magics").

In [ ]:
%help

####  Run this cell to set up and start your interactive session.

In [5]:
%idle_timeout 2880
%glue_version 4.0
%worker_type G.1X
%number_of_workers 5

import sys
from awsglue.transforms import *
from awsglue.utils import getResolvedOptions
from pyspark.context import SparkContext
from awsglue.context import GlueContext
from awsglue.job import Job
from pyspark.sql.functions import col, regexp_extract,sum,isnan,when,count
  
sc = SparkContext.getOrCreate()
glueContext = GlueContext(sc)
spark = glueContext.spark_session
job = Job(glueContext)

You are already connected to a glueetl session cfb204e9-1265-4d58-afc5-63c9b4489ec1.

No change will be made to the current session that is set as glueetl. The session configuration change will apply to newly created sessions.

Current idle_timeout is 2880 minutes.
idle_timeout has been set to 2880 minutes.

You are already connected to a glueetl session cfb204e9-1265-4d58-afc5-63c9b4489ec1.

No change will be made to the current session that is set as glueetl. The session configuration change will apply to newly created sessions.

Setting Glue version to: 4.0

You are already connected to a glueetl session cfb204e9-1265-4d58-afc5-63c9b4489ec1.

No change will be made to the current session that is set as glueetl. The session configuration change will apply to newly created sessions.

Previous worker type: G.1X
Setting new worker type to: G.1X

You are already connected to a glueetl session cfb204e9-1265-4d58-afc5-63c9b4489ec1.

No change will be made to the current session that is set as glueetl. The session configuration change will apply to newly created sessions.

Previous number of workers: 5
Setting new number of workers to: 5

#### Example: Create a DynamicFrame from a table in the AWS Glue Data Catalog and display its schema

In [52]:
dyf_a = glueContext.create_dynamic_frame.from_options(connection_type="s3",connection_options={"paths":["s3://bunny970/Datasets/athletes.csv"]},
                                                   format="csv",format_options={"withHeader":True,"optimizePerformance":True})
dyf_c = glueContext.create_dynamic_frame.from_options(connection_type="s3",connection_options={"paths":["s3://bunny970/Datasets/coaches.csv"]},
                                                   format="csv",format_options={"withHeader":True,"optimizePerformance":True})
dyf_m = glueContext.create_dynamic_frame.from_options(connection_type="s3",connection_options={"paths":["s3://bunny970/Datasets/medals.csv"]},
                                                   format="csv",format_options={"withHeader":True,"optimizePerformance":True})
dyf_mt = glueContext.create_dynamic_frame.from_options(connection_type="s3",connection_options={"paths":["s3://bunny970/Datasets/medals_total.csv"]},
                                                   format="csv",format_options={"withHeader":True,"optimizePerformance":True})
dyf_t = glueContext.create_dynamic_frame.from_options(connection_type="s3",connection_options={"paths":["s3://bunny970/Datasets/technical_officials.csv"]},
                                                   format="csv",format_options={"withHeader":True,"optimizePerformance":True})

dyf_a.printSchema()

root
|-- name: string
|-- short_name: string
|-- gender: string
|-- birth_date: string
|-- birth_place: string
|-- birth_country: string
|-- country: string
|-- country_code: string
|-- discipline: string
|-- discipline_code: string
|-- residence_place: string
|-- residence_country: string
|-- height_m/ft: string
|-- url: string

In [53]:
dyf_c.printSchema()

root
|-- name: string
|-- short_name: string
|-- gender: string
|-- birth_date: string
|-- country_code: string
|-- discipline: string
|-- function: string
|-- event: string
|-- url: string

In [54]:
dyf_m.printSchema()

root
|-- medal_type: string
|-- medal_code: string
|-- medal_date: string
|-- athlete_short_name: string
|-- athlete_name: string
|-- athlete_sex: string
|-- athlete_link: string
|-- country_code: string
|-- discipline_code: string
|-- event: string
|-- country: string
|-- discipline: string

In [55]:
dyf_mt.printSchema()

root
|-- Rank: string
|-- Country Code: string
|-- Gold Medal: string
|-- Silver Medal: string
|-- Bronze Medal: string
|-- Total: string
|-- Country: string

In [56]:
dyf_t.printSchema()

root
|-- name: string
|-- short_name: string
|-- gender: string
|-- birth_date: string
|-- country: string
|-- discipline: string
|-- function: string
|-- url: string

#### Example: Convert the DynamicFrame to a Spark DataFrame and display a sample of the data

In [58]:
df_a = dyf_a.toDF()
df_c=dyf_c.toDF()
df_m=dyf_m.toDF()
df_mt=dyf_mt.toDF()
df_t=dyf_t.toDF()

In [42]:
df_null = df_a.select([count(when(col(c).contains('None') | \
                            col(c).contains('NULL') | \
                            (col(c) == '' ),c 
                           )).alias(c)
                    for c in df_a.columns])
df_null.show()

+----+----------+------+----------+-----------+-------------+-------+------------+----------+---------------+---------------+-----------------+-----------+---+
|name|short_name|gender|birth_date|birth_place|birth_country|country|country_code|discipline|discipline_code|residence_place|residence_country|height_m/ft|url|
+----+----------+------+----------+-----------+-------------+-------+------------+----------+---------------+---------------+-----------------+-----------+---+
|   0|         0|   159|       159|       4048|         3336|      0|           0|       159|              0|           4407|             5111|       7001|  0|
+----+----------+------+----------+-----------+-------------+-------+------------+----------+---------------+---------------+-----------------+-----------+---+

In [43]:
df1_a = df_a.filter((col("gender") != "") & (col("birth_date") != "") & (col("discipline") != ""))
df1_a = df1_a.drop('birth_place', 'birth_country', 'residence_place', 'residence_country', 'height_m/ft')

In [44]:
df1_a = df1_a.withColumn("athlete_id", regexp_extract(col("url"), r'n(\d+)-', 1))
df1_a = df1_a.drop('url')

In [45]:
df1_a = df1_a.dropDuplicates(['name'])
df1_a.select([col(c).alias(c + "_null") for c in df1_a.columns]).show()
df1_a.groupBy("athlete_id").count().filter("count > 1").show()

+--------------------+---------------+-----------+---------------+--------------------+-----------------+-------------------+--------------------+---------------+
|           name_null|short_name_null|gender_null|birth_date_null|        country_null|country_code_null|    discipline_null|discipline_code_null|athlete_id_null|
+--------------------+---------------+-----------+---------------+--------------------+-----------------+-------------------+--------------------+---------------+
|         ABAD Nestor|         ABAD N|       Male|     1993-03-29|               Spain|              ESP|Artistic Gymnastics|                 GAR|        1355250|
|       ABASS Abobakr|        ABASS A|       Male|     1998-11-01|               Sudan|              SUD|           Swimming|                 SWM|        1344792|
|       ABBOTT Monica|       ABBOTT M|     Female|     1985-07-28|United States of ...|              USA|  Baseball/Softball|                 BSB|        1310126|
|ABDALLA Abubaker ...|     ABDALLA AH|       Male|     1996-08-28|               Qatar|              QAT|          Athletics|                 ATH|        1328854|
|   ABDEL LATIF Radwa|  ABDEL LATIF R|     Female|     1989-10-15|               Egypt|              EGY|           Shooting|                 SHO|        1306332|
|    ABDELAAL Mohamed|     ABDELAAL M|       Male|     1990-07-23|               Egypt|              EGY|               Judo|                 JUD|        1301765|
|     ABDELAZIZ Farah|    ABDELAZIZ F|     Female|     1992-09-01|               Egypt|              EGY|       Table Tennis|                 TTE|        1296357|
|    ABDELAZIZ Feryal|    ABDELAZIZ F|     Female|     1999-02-16|               Egypt|              EGY|             Karate|                 KTE|        1306348|
|  ABDELSALAM Mohamed|   ABDELSALAM M|       Male|     1997-10-01|               Egypt|              EGY|           Football|                 FBL|        1381598|
|     ABDELSALAM Nour|   ABDELSALAM N|     Female|     1993-03-29|               Egypt|              EGY|          Taekwondo|                 TKW|        1313054|
|         ABDI Bashir|         ABDI B|       Male|     1989-02-10|             Belgium|              BEL|          Athletics|                 ATH|        1401953|
|     ABDULHAMID Saud|   ABDULHAMID S|       Male|     1999-07-18|        Saudi Arabia|              KSA|           Football|                 FBL|        1484611|
|ABDULJABBAR Ammar...| ABDULJABBAR AR|       Male|     1995-10-01|             Germany|              GER|             Boxing|                 BOX|        1327781|
|  ABDULLAEV Gulomjon|    ABDULLAEV G|       Male|     1998-11-11|          Uzbekistan|              UZB|          Wrestling|                 WRE|        1285960|
|  ABDULLAEV Muminjon|    ABDULLAEV M|       Male|     1989-12-24|          Uzbekistan|              UZB|          Wrestling|                 WRE|        1284000|
| ABDULLAYEV Mahammad|   ABDULLAYEV M|       Male|     1999-04-06|          Azerbaijan|              AZE|             Boxing|                 BOX|        1436411|
|ABDURAKHIMOV Rasu...| ABDURAKHIMOV R|       Male|     1996-10-03|          Uzbekistan|              UZB|Artistic Gymnastics|                 GAR|        1285163|
|       ABE Takatoshi|          ABE T|       Male|     1991-11-12|               Japan|              JPN|          Athletics|                 ATH|        1319304|
|       ABELA Matthew|        ABELA M|       Male|     1999-03-18|               Malta|              MLT|          Badminton|                 BDM|        1284065|
| ABELVIK ROED Magnus| ABELVIK ROED M|       Male|     1997-07-07|              Norway|              NOR|           Handball|                 HBL|        1343652|
+--------------------+---------------+-----------+---------------+--------------------+-----------------+-------------------+--------------------+---------------+
only showing top 20 rows

+----------+-----+
|athlete_id|count|
+----------+-----+
+----------+-----+

In [46]:
df1_null = df1_a.select([count(when(col(c).contains('None') | \
                            col(c).contains('NULL') | \
                            (col(c) == '' ),c 
                           )).alias(c)
                    for c in df1_a.columns])
df1_null.show()

+----+----------+------+----------+-------+------------+----------+---------------+----------+
|name|short_name|gender|birth_date|country|country_code|discipline|discipline_code|athlete_id|
+----+----------+------+----------+-------+------------+----------+---------------+----------+
|   0|         0|     0|         0|      0|           0|         0|              0|         0|
+----+----------+------+----------+-------+------------+----------+---------------+----------+

In [59]:
total_nulls = df_c.select([count(when(col(c).contains('None') | \
                            col(c).contains('NULL') | \
                            (col(c) == '' ),c 
                           )).alias(c)
                    for c in df_c.columns])
total_nulls.show()

+----+----------+------+----------+------------+----------+--------+-----+---+
|name|short_name|gender|birth_date|country_code|discipline|function|event|url|
+----+----------+------+----------+------------+----------+--------+-----+---+
|   0|         0|     0|         0|           0|         0|       0|  126|  0|
+----+----------+------+----------+------------+----------+--------+-----+---+

In [60]:
df1_c = df_c.drop('event')
df1_c = df1_c.withColumn("coach_id", regexp_extract(col("url"), r'n(\d+)-', 1))
df1_c = df1_c.drop('url')
df1_c = df1_c.dropDuplicates(['coach_id'])

In [61]:
df1_c.groupBy("coach_id").count().filter("count > 1").show()

+--------+-----+
|coach_id|count|
+--------+-----+
+--------+-----+

In [62]:
df1_c.show()

+--------------------+------------------+------+----------+------------+-----------------+----------+--------+
|                name|        short_name|gender|birth_date|country_code|       discipline|  function|coach_id|
+--------------------+------------------+------+----------+------------+-----------------+----------+--------+
|    SHAHINTAB Mehran|       SHAHINTAB M|  Male|1966-03-21|         IRI|       Basketball|     Coach| 1281792|
|         DANCER Sean|          DANCER S|  Male|1975-08-04|         IRL|           Hockey|Head Coach| 1282059|
|       GRAINGER Adam|        GRAINGER A|  Male|1980-07-06|         IRL|           Hockey|     Coach| 1282063|
|     LORRAINE Andrew|        LORRAINE A|  Male|1972-08-11|         ISR|Baseball/Softball|     Coach| 1282219|
|        MULBERG Nate|         MULBERG N|  Male|1992-01-05|         ISR|Baseball/Softball|     Coach| 1282237|
|         FULI Saiasi|            FULI S|  Male|1978-03-16|         FIJ|     Rugby Sevens|Head Coach| 1282562|
|  BABER Gareth Colin|           BABER G|  Male|1972-05-23|         FIJ|     Rugby Sevens|Head Coach| 1282565|
|         POWELL Neil|          POWELL N|  Male|1978-06-28|         RSA|     Rugby Sevens|Head Coach| 1284765|
|  ZAMPIERI Francesca|        ZAMPIERI F|Female|1981-12-22|         LIE|Artistic Swimming|     Coach| 1288449|
| SVETLICHNAYA Aliona|    SVETLICHNAYA A|Female|1981-12-18|         BLR|Artistic Swimming|     Coach| 1289288|
|BATISTA SANTIAGO ...|BATISTA SANTIAGO G|  Male|1970-12-21|         PUR|       Basketball|     Coach| 1292801|
|        KWIEK Marcos|           KWIEK M|  Male|1967-07-18|         DOM|       Volleyball|Head Coach| 1295679|
|BLECHER SIDOROVA ...|BLECHER SIDOROVA S|Female|1965-06-17|         ISR|Artistic Swimming|     Coach| 1296532|
|PAGAN CRISTOBAL A...| PAGAN CRISTOBAL A|  Male|1964-10-31|         PUR|       Basketball|     Coach| 1298218|
|        KIRALY Karch|          KIRALY K|  Male|1960-11-03|         USA|       Volleyball|Head Coach| 1298673|
|         SPERAW John|          SPERAW J|  Male|1971-10-18|         USA|       Volleyball|Head Coach| 1298684|
| FUERBRINGER Matthew|     FUERBRINGER M|  Male|1974-01-29|         USA|       Volleyball|Head Coach| 1298691|
|        WALL Michael|            WALL M|  Male|1978-10-29|         USA|       Volleyball|Head Coach| 1298692|
|  KRIST JANSSON Aron|   KRIST JANSSON A|  Male|1972-07-14|         BRN|         Handball|     Coach| 1301237|
|      LOFTUS Adriana|          LOFTUS A|Female|1958-06-28|         MEX|Artistic Swimming|     Coach| 1301560|
+--------------------+------------------+------+----------+------------+-----------------+----------+--------+
only showing top 20 rows

In [63]:
df_m = df_m.withColumn("athlete_id", regexp_extract(col("athlete_link"), r'n(\d+)-', 1))
df_m = df_m.drop('athlete_link')

In [64]:
df1_m = df_m.join(df1_a.select("athlete_id"), "athlete_id", "inner")
df1_m = df1_m.join(df1_a.select("athlete_id", "gender"), "athlete_id", "inner")
df1_m = df1_m.drop('athlete_sex')
df1_m.show()

+----------+------------+----------+--------------------+------------------+--------------------+------------+---------------+--------------------+--------------------+-----------------+------+
|athlete_id|  medal_type|medal_code|          medal_date|athlete_short_name|        athlete_name|country_code|discipline_code|               event|             country|       discipline|gender|
+----------+------------+----------+--------------------+------------------+--------------------+------------+---------------+--------------------+--------------------+-----------------+------+
|   1310126|Silver Medal|         2|2021-07-27 00:00:...|          ABBOTT M|       ABBOTT Monica|         USA|            BSB|            Softball|United States of ...|Baseball/Softball|Female|
|   1444160|  Gold Medal|         1|2021-07-31 00:00:...|        ANDERSON F|      ANDERSON Freya|         GBR|            SWM|Mixed 4 x 100m Me...|       Great Britain|         Swimming|Female|
|   1324437|Silver Medal|         2|2021-08-06 00:00:...|      ANDREJCZYK M|    ANDREJCZYK Maria|         POL|            ATH|Women's Javelin T...|              Poland|        Athletics|Female|
|   1315327|Silver Medal|         2|2021-07-31 00:00:...|            ARAI C|        ARAI Chizuru|         JPN|            JUD|          Mixed Team|               Japan|             Judo|Female|
|   1315327|  Gold Medal|         1|2021-07-28 00:00:...|            ARAI C|        ARAI Chizuru|         JPN|            JUD|        Women -70 kg|               Japan|             Judo|Female|
|   1425895|Bronze Medal|         3|2021-08-05 00:00:...|          BAKSHI G|         BAKSHI Gleb|         ROC|            BOX|Men's Middle (69-...|                 ROC|           Boxing|  Male|
|   1330685|  Gold Medal|         1|2021-08-04 00:00:...|        BELENIUK Z|       BELENIUK Zhan|         UKR|            WRE|Men's Greco-Roman...|             Ukraine|        Wrestling|  Male|
|   1374079|  Gold Medal|         1|2021-07-27 00:00:...|       BELJAJEVA J|     BELJAJEVA Julia|         EST|            FEN|Women's &Eacute;p...|             Estonia|          Fencing|Female|
|   1483108|Silver Medal|         2|2021-08-05 00:00:...|           BELTZ J|        BELTZ Joshua|         AUS|            HOC|                 Men|           Australia|           Hockey|  Male|
|   1312826|  Gold Medal|         1|2021-08-08 00:00:...|            BIRD S|            BIRD Sue|         USA|            BKB|               Women|United States of ...|       Basketball|Female|
|   1344635|Bronze Medal|         3|2021-08-08 00:00:...|         BJELICA A|         BJELICA Ana|         SRB|            VVO|               Women|              Serbia|       Volleyball|Female|
|   1407688|Silver Medal|         2|2021-08-08 00:00:...|    BOBROVNIKOVA V|BOBROVNIKOVA Vlad...|         ROC|            HBL|               Women|                 ROC|         Handball|Female|
|   1312771|  Gold Medal|         1|2021-08-07 00:00:...|          BOOKER D|        BOOKER Devin|         USA|            BKB|                 Men|United States of ...|       Basketball|  Male|
|   1353801|Silver Medal|         2|2021-08-08 00:00:...|           BRAIT C|        BRAIT Camila|         BRA|            VVO|               Women|              Brazil|       Volleyball|Female|
|   1343630|Bronze Medal|         3|2021-08-08 00:00:...|  BREDAL OFTEDAL S|BREDAL OFTEDAL Stine|         NOR|            HBL|               Women|              Norway|         Handball|Female|
|   1330503|  Gold Medal|         1|2021-08-03 00:00:...|       BRENNAUER L|      BRENNAUER Lisa|         GER|            CTR|Women's Team Pursuit|             Germany|    Cycling Track|Female|
|   1443737|Bronze Medal|         3|2021-08-07 00:00:...|         CABRERA M|       CABRERA Melky|         DOM|            BSB|            Baseball|  Dominican Republic|Baseball/Softball|  Male|
|   1482860|Bronze Medal|         3|2021-07-31 00:00:...|        CAMPBELL B|     CAMPBELL Bronte|         AUS|            SWM|Mixed 4 x 100m Me...|           Australia|         Swimming|Female|
|   1482860|  Gold Medal|         1|2021-07-25 00:00:...|        CAMPBELL B|     CAMPBELL Bronte|         AUS|            SWM|Women's 4 x 100m ...|           Australia|         Swimming|Female|
|   1331855|Silver Medal|         2|2021-07-28 00:00:...|      CAPOBIANCO A|   CAPOBIANCO Andrew|         USA|            DIV|Men's Synchronise...|United States of ...|           Diving|  Male|
+----------+------------+----------+--------------------+------------------+--------------------+------------+---------------+--------------------+--------------------+-----------------+------+
only showing top 20 rows

In [65]:
total_nulls = df1_m.select([count(when(col(c).contains('None') | \
                            col(c).contains('NULL') | \
                            (col(c) == '' ),c 
                           )).alias(c)
                    for c in df1_m.columns])
total_nulls.show()

+----------+----------+----------+----------+------------------+------------+------------+---------------+-----+-------+----------+------+
|athlete_id|medal_type|medal_code|medal_date|athlete_short_name|athlete_name|country_code|discipline_code|event|country|discipline|gender|
+----------+----------+----------+----------+------------------+------------+------------+---------------+-----+-------+----------+------+
|         0|         0|         0|         0|                 0|           0|           0|              0|    0|      0|         0|     0|
+----------+----------+----------+----------+------------------+------------+------------+---------------+-----+-------+----------+------+

In [66]:
total_nulls = df_mt.select([count(when(col(c).contains('None') | \
                            col(c).contains('NULL') | \
                            (col(c) == '' ),c 
                           )).alias(c)
                    for c in df_mt.columns])
total_nulls.show()

+----+------------+----------+------------+------------+-----+-------+
|Rank|Country Code|Gold Medal|Silver Medal|Bronze Medal|Total|Country|
+----+------------+----------+------------+------------+-----+-------+
|   0|           0|         0|           0|           0|    0|      0|
+----+------------+----------+------------+------------+-----+-------+

In [70]:
total_nulls = df_t.select([count(when(col(c).contains('None') | \
                            col(c).contains('NULL') | \
                            (col(c) == '' ),c 
                           )).alias(c)
                    for c in df_t.columns])
total_nulls.show()
df_t = df_t.withColumn("to_id", regexp_extract(col("url"), r'n(\d+)-', 1))
df_t=df_t.drop('url')

+----+----------+------+----------+-------+----------+--------+---+-----+
|name|short_name|gender|birth_date|country|discipline|function|url|to_id|
+----+----------+------+----------+-------+----------+--------+---+-----+
|   0|         0|     0|         0|      0|         0|       0|  0|    0|
+----+----------+------+----------+-------+----------+--------+---+-----+

In [71]:
df_t.show()

+-------------------+-----------+------+----------+--------------------+----------------+--------------------+-------+
|               name| short_name|gender|birth_date|             country|      discipline|            function|  to_id|
+-------------------+-----------+------+----------+--------------------+----------------+--------------------+-------+
|           ZWI Noam|      ZWI N|  Male|1958-04-20|              Israel|      Water Polo|               Judge|1571974|
|           ZWI Noam|      ZWI N|  Male|1958-04-20|              Israel|          Diving|               Judge|1571974|
|      ZWART Michiel|    ZWART M|  Male|1986-11-08|         Netherlands|      Water Polo|             Referee|1572083|
|        ZOURAK Adil|   ZOURAK A|  Male|1978-08-25|             Morocco|        Football|Video Assistant R...|1562057|
|      ZINGER Edward|   ZINGER E|  Male|1969-07-21|              Canada|       Wrestling|               Judge|1542965|
|        ZHU Linfang|      ZHU L|Female|1982-09-25|People's Republic...|       Taekwondo|             Referee|1496744|
|        ZHOU Jihong|    ZHOU J.|Female|1965-01-11|People's Republic...|          Diving|               Judge|1573136|
|            ZHAO Qi|     ZHAO Q|  Male|1974-05-01|People's Republic...|          Diving|               Judge|1573168|
|        ZHANG Liang|    ZHANG L|  Male|1984-08-05|People's Republic...|      Water Polo|             Referee|1571969|
|          ZHANG Guo|    ZHANG G|  Male|1977-03-05|People's Republic...|          Boxing|               Judge|1503860|
|  ZEEGELAAR Zachari|ZEEGELAAR Z|  Male|1989-10-03|            Suriname|        Football|   Assistant Referee|1561951|
|     ZAMPIERI Marco| ZAMPIERI M|  Male|1974-02-08|               Italy|          Diving|               Judge|1572005|
|      ZALESKI Carol|  ZALESKI C|Female|1938-08-23|United States of ...|      Water Polo|               Judge|1573205|
|      ZALESKI Carol|  ZALESKI C|Female|1938-08-23|United States of ...|          Diving|               Judge|1573205|
|      ZAHONYI Tamas|  ZAHONYI T|  Male|1978-05-29|             Hungary|            Judo|               Judge|1337952|
|YUCEL Mehmet Gurhan|   YUCEL MG|  Male|1982-06-22|              Turkey|       Wrestling|               Judge|1543328|
|        YUAN Haoran|     YUAN H|  Male|1973-05-02|People's Republic...|      Water Polo|               Judge|1571975|
|        YUAN Haoran|     YUAN H|  Male|1973-05-02|People's Republic...|          Diving|               Judge|1571975|
|       YOUNES Walid|   YOUNES W|  Male|1966-07-20|         Switzerland|       Taekwondo|             Referee|1534343|
|   YOSHITANI Yusuke|YOSHITANI Y|  Male|1982-06-18|               Japan|Beach Volleyball|             Referee|1442957|
+-------------------+-----------+------+----------+--------------------+----------------+--------------------+-------+
only showing top 20 rows

In [50]:
df1_a.repartition(1).write.option("header", "true").mode("append").csv("s3://bunny970/Dataset_ETL_target/Athletes_updated.csv")
df1_c.repartition(1).write.option("header", "true").mode("append").csv("s3://bunny970/Dataset_ETL_target/Coaches_updated.csv")
df1_m.repartition(1).write.option("header", "true").mode("append").csv("s3://bunny970/Dataset_ETL_target/Medals_updated.csv")
df_mt.repartition(1).write.option("header", "true").mode("append").csv("s3://bunny970/Dataset_ETL_target/Medals_total_updated.csv")
df_t.repartition(1).write.option("header", "true").mode("append").csv("s3://bunny970/Dataset_ETL_target/Technical_updated.csv")